{% extends "layout.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>{{ subject.subname }}</h1>

            {{ msg }}
            <table class="table">
                <thead>
                <td>Subject Code</td>
                <td>Subject Name</td>
                <td>Study Period</td>
                <td>Tutor</td>
                <td>Repeats</td>
                <td>Needs Projector</td>
                <td>Attendance Rate</td>
                </thead>
                <tr>
                    <td>{{ subject["subcode"] }}</td>
                    <td>{{ subject["subname"] }}</td>
                    <td> {{ subject["studyperiod"] }}</td>
                    <td><a href="{{ url_for('view_tutor', tutorid = tutor["id"]) }}">{{ tutor["name"] }}</a></td>
                    <td>{% if current_user.is_admin == '1' %}<select id="repeats" onchange="changedvalue()">
                        {% for i in range(1,5) %}
                            {% if i == subject["repeats"] %}
                                <option selected>{{ i }}</option>
                            {% else %}
                                <option>{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>{% else %}{{ subject["repeats"] }}{% endif %}</td>
                    <td><select id="needsprojector" onchange="needsprojectorchange({{ subject.id }},this.value)">{% if subject["needsprojector"] == True %}
                        <option value="-1"></option>
                        <option value="1" selected>Yes</option>
                        <option value="0">No</option>
                        {% elif subject["needsprojector"] == False %}
                        <option value="-1"></option>
                        <option value="1">Yes</option>
                        <option value="0" selected>No</option>
                        {% else %}
                        <option value="-1" selected></option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                        {% endif %}
                    </select></td>
                    <td id="parent">{{ subject.get_attendance_rate() }}%
                        <button id="showhidebutton" class="button">Show Graph</button>
                    </td>
                </tr>
            </table>
            {% if current_user.is_admin == '1' %}
                <button class="button" data-toggle="modal" data-target="#editModal">Edit {{ subject["subname"] }}</button>
                <a href="{{ url_for('remove_subject', subcode = subject["subcode"]) }}" class='delete' data-confirm='Are you sure you want to delete this item?'>
                    <button class="button-delete">Delete {{ subject["subname"] }}</button>
            </a>{% endif %}
            {% if tutor != None %}
                       {% if current_user.is_admin == '1' %}
                           <a href="{{ url_for('remove_subject_from_tutor', subcode = subject["subcode"], tutorid = tutor["id"]) }}"
                              class="delete" data-confirm="Are you sure you want to delete this item?">
                            <button type="button" class="button-delete">Remove Tutor From Subject</button>
                        </a>{% endif %}{% endif %}
            <div id="popup" style="display: none">
                <h1>Attendance Rate</h1>
                <canvas id="SubjectAttendanceRate" height="125"></canvas>


            </div>

        </div>
    </div>
    {% if current_user.is_admin == '1' %}
    <div class="row">
        <div class="col-md-12">
            {% if tutor == None %}
                <h3>Add Tutor to Subject</h3>
                <form action="{{ url_for('add_tutor_to_subject', subcode = subject["subcode"]) }}" method="POST">
                    <select name="tutor">
                        {% for temptutor in tutors %}

                            <option value={{ temptutor["id"] }}>{{ temptutor["name"] }}</option>

                        {% endfor %}

                    </select>

                    <input type="submit" class="button" value="Add Tutor to Subject"/>
                </form>
                {{ msg2 }}
            {% endif %}
        </div>
    </div>
{% endif %}







    <div class="row">
        <div class="col-md-12">
            <h1>Students Enrolled in this subject</h1>
            To mark the roll, press "Mark the Roll" below, and then click on the red squares to mark present students.
            <table class="table" id="rolltable">
                <thead>
                <td>Student Number</td>
                <td>Name</td>
                <td>Scheduled Class</td>
                <td/>
                {% for class in classes %}
                    <td id="{{ class.id }}/date" class="week">Week <input type="number" value="{{ class.week }}"
                                                                          id="classweek/{{ class.id }}"
                                                                          style="width: 35px"
                                                                          onchange="changeClassTime({{ class.id }})"/><a
                            href='{{ url_for('delete_tutorial',tutorialid=class.id) }}' class="delete" data-confirm="Are you sure you want to delete this item?"><img
                            src='../static/img/removeSymbol.png' class='deleteIcon'/></a><a data-toggle="collapse"
                                                                                            href="#demo{{ class.id }}">Show</a>
                        <div id="demo{{ class.id }}" class="collapse">
                            Date: <input type="datetime-local" id="datetime/{{ class.id }}"
                                         {% if class.dateandtime %}value = '{{ class.get_datetime_html() }}'{% endif %}
                                         onchange="updatedatetime({{ class.id }},this.value)"><br># of hours: <input
                                type="number" id="numofhours/{{ class.id }}" value="{{ class.hours }}"
                                onchange="updatenumofhours({{ class.id }},this.value)">
                        </div>
                    </td>
                {% endfor %}
                </thead>

                {% for student in students %}
                    <tr>

                        <td id="studentid/{{ student.id }}">
                            <a href="{{ url_for('view_student', studentcode = student.studentcode) }}">{{ student["studentcode"] }}</a>
                        </td>
                        <td id="studentid/{{ student.id }}">
                            <a href="{{ url_for('view_student', studentcode = student.studentcode) }}">{{ student["name"] }}</a>
                        </td>
                        <td>{% for timeclass in subject.timetabledclasses %}
                            {% if student in timeclass.students %}
{{ timeclass.timeslot.day }} {{timeclass.timeslot.time }}
                            {% endif %}
                            {% endfor %}
                            </td>
                        <td>
                            {% if current_user.is_admin == '1' %}
                                <a href="{{ url_for('remove_subject_from_student', studentcode = student.studentcode, subcode = subject["subcode"]) }}"
                                   class="delete" data-confirm="Are you sure you want to delete this item?"><img
                                        src='../static/img/removeSymbol.png' class='deleteIcon'/></a>{% endif %}
                        </td>
                        {% for class in classes %}
                            {% if student in attendees[class.id] %}
                                <td class="attended" id="{{ class.id }}/{{ student.id }}"
                                    onclick="updateStudentClassAttendance({{ class.id }},{{ student.id }},'{{ class.id }}/{{ student.id }}')"></td>
                            {% else %}
                                <td class="notattended" id="{{ class.id }}/{{ student.id }}"
                                    onclick="updateStudentClassAttendance({{ class.id }},{{ student.id }},'{{ class.id }}/{{ student.id }}')"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

        </div>
        {% if subject.tutor != None %}
            <button type="button" class="button" onclick="addNewClass()">Mark the Roll</button>
        {% endif %}
    </div>


    {% if tutor != None %}

        <div class="row">
            <div class="col-md-12">


                {% if subject.timetabledclasses == [] %}
                    <h1>Timetable Explorer</h1>
                    <h2>Student Availability</h2>
                <table class="table">
                    <thead>
                    {% for timeslot in timeslots %}
                        <td>{{ timeslot.day }} {{ timeslot.time }}</td>
                    {% endfor %}
                    </thead>
                    <tr>
                        {% for timeslot in timeslots %}
                            {% if timeslot in times %}
                                <td class="attended"></td>
                            {% else %}
                                <td class="notattended"></td>
                            {% endif %}
                        {% endfor %}

                    </tr>


                </table>
            </div>
        </div>
            <h2>Tutor Availability</h2>
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                        {% for row in timeslots %}
                            <td>{{ row.day }} {{ row.time }}</td>
                        {% endfor %}
                        </thead>
                        <tr>
                            {% for timeslot in timeslots %}
                                {% if timeslot in tutor.get_teaching_times() %}
                                    <td class="occupied"></td>
                                {% elif  timeslot in tutor.availabletimes %}
                                    <td class="attended"></td>
                                {% else %}
                                    <td class="notattended"></td>
                                {% endif %}
                            {% endfor %}
                        </tr>


                    </table>
                {% if current_user.is_admin == '1' %}
                    <form action="{{ url_for('add_timetabledclass_to_subject', subcode = subject.subcode) }}"
                          method="POST">
                        <select name="timeslot">
                            {% for timeslot in timeslots %}

                                <option value={{ timeslot.id }}>{{ timeslot.day }} {{ timeslot.time }}</option>

                            {% endfor %}

                        </select>

                        <input type="submit" class="button" value="Timetable Class"/>
                    </form>
                    {% endif %}
                </div>
            </div>
        {% else %}

                    <div class="row">
                    <div class="col-md-12">
                        <h1>Manage Timetabled Classes</h1>

                    <table class="table">
                        <thead>
                        <tr>
                            <td>Day</td>
                            <td>Time</td>
                            <td>Room</td>
                            <td></td>
                        </tr>
                        </thead>
                        {% for timeclass in timetabledclasses %}
                            <tr>
                                <td>{{ timeclass.timeslot.day }}</td>
                                <td>{{ timeclass.timeslot.time }}</td>
                                <td>{% if current_user.is_admin == '1' %}<select id="classroom/{{ timeclass.id }}"
                                                                                 onchange="updateClassRoom({{ timeclass.id }})">
                                    <option value="-1"></option>
                                    {% for room in rooms %}
                                        {% if room.id == timeclass.room.id %}
                                            <option value="{{ room.id }}" selected>{{ room.name }}</option>
                                        {% elif timeclass.timeslot in room.get_available_times() %}
                                            <option value="{{ room.id }}">{{ room.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select> {% else %} {{ timeclass.room.name }}{% endif %}</td>
                                <td><a href="/downloadroll%3Fclassid%3D{{ timeclass.id }}">
                                    <button class="button">Download Roll</button>
                                </a></td>
                            </tr>
                        {% endfor %}

                    </table>
<table class="table">
<thead>
<td>Student</td>
{% for timeclass in timetabledclasses %}
    <td>{{ timeclass.timeslot.day }} {{ timeclass.timeslot.time }}<a
            href="{{ url_for('remove_timetabled_class',timetabledclassid = timeclass.id) }}" class="delete"
            data-confirm="Are you sure you want to delete this item?"><img src='../static/img/removeSymbol.png'
                                                                           class='deleteIcon'/></a></td>
{% endfor %}
</thead>
    {% for student in subject.students %}
<tr>
<td>{{ student.name }}</td>
    {% for timeclass in subject.timetabledclasses %}

{% if  student in timeclass.students %}

                            <td class="attended {{ student.id }}" id="slot/{{ timeclass.id }}/{{ student.id }}"
                                onclick="updateStudentScheduledClass({{ timeclass.id }},{{ student.id }},'slot/{{ timeclass.id }}/{{ student.id }}')"></td>
                    {% else %}
                            <td class="notattended {{ student.id }}" id="slot/{{ timeclass.id }}/{{ student.id }}"
                                onclick="updateStudentScheduledClass({{ timeclass.id }},{{ student.id }},'slot/{{ timeclass.id }}/{{ student.id }}')"></td>
                    {% endif %}
{% endfor %}
</tr>
{% endfor %}
</table>
                    {% if current_user.is_admin == '1' %}
         <form action="{{ url_for('add_timetabledclass_to_subject', subcode = subject.subcode) }}"
                          method="POST">
                        <select name="timeslot">
                            {% for timeslot in timeslots %}

                                <option value={{ timeslot.id }}>{{ timeslot.day }} {{ timeslot.time }}</option>

                            {% endfor %}

                        </select>

                        <input type="submit" class="button" value="Timetable Class"/>
                    </form>
{% endif %}


        {% endif %}
        </div>
                    </div>
    {% endif %}







</div>

    <div class="row">
        <div class="col-md-12">
            {% if subject.get_nonattending_students()|length > 0 %}
                <h1>Non-Attending Students</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <td>Student Name</td>
                        <td></td>
                    </tr>
                    </thead>
                    {% for student in subject.get_nonattending_students() %}
                        <tr>
                            <td>
                                <a href="{{ url_for('view_student', studentcode = student.studentcode) }}">{{ student.name }}</a>
                            </td>
                            <td></td>
                        </tr>
                    {% endfor %}

                </table>


                </div>


                </div>
            {% endif %}
    {% include "mymodal.html" %}


    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <script>

                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
        </div>
    </div>
    <script src="../static/js/Chart.bundle.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script>

        var ctx = document.getElementById("SubjectAttendanceRate");


        function changedvalue() {
            var x = document.getElementById("repeats");
            var y = x.options[x.selectedIndex].text;
            $.ajax({
                url: "/updatesubjectrepeats",
                data: {subject: {{ subject.id }}, repeats: y},
                type: "POST",
                dataType: "json",
                success: function (data) {

                }
                ,
                error: function () {

                }
            });

        }


    function updateStudentScheduledClass(timeclassid, studentid, id) {

        $.ajax({
                url: "/updatestudentscheduledclassajax",
                data: {timeclassid: timeclassid, studentid: studentid},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var x = document.getElementById(id);
                    var y = document.getElementsByClassName(studentid);
                    if (x.className == "attended "+ studentid) {
                    } else if (x.className == "notattended " + studentid) {
                        for(i=0; i < y.length; i++) {
                        y[i].className = "notattended " + studentid;
                        }
                        x.className = "attended " + studentid;
                    }

                },
                error: function () {

                }
            });


    }


        function updatenumofhours(timeclassid, value) {


            $.ajax({
                url: "/updatetutorialhours",
                data: {timeclassid: timeclassid, hours: value},
                type: "POST",
                dataType: "json",
                success: function (data) {

                },
                error: function () {

                }
            });

        }

        function updatedatetime(classid, value) {


            $.ajax({
                url: "/updatetutorialdatetime",
                data: {tutorialid: classid, datetime: value},
                type: "POST",
                dataType: "json",
                success: function (data) {

                },
                error: function () {

                }
            });

        }

        function updateClassRoom(timeclassid) {
            var x = document.getElementById('classroom/' + timeclassid.toString());
            var y = x.options[x.selectedIndex].value;
            $.ajax({
                url: "/updateclassroomajax",
                data: {timeclassid: timeclassid, roomid: y},
                type: "POST",
                dataType: "json",
                success: function (data) {

                },
                error: function () {

                }
            });
        }

        function updateStudentClassAttendance(classid, studentid, id) {

            $.ajax({
                url: "/updatestudentclassattendanceajax",
                data: {classid: classid, studentid: studentid},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var x = document.getElementById(id);
                    if (x.className == "attended") {
                        x.className = "notattended";
                    } else if (x.className == "notattended") {
                        x.className = "attended";
                    }

                },
                error: function () {

                }
            });

        }

        function changeClassTime(classid) {
            var x = document.getElementById("classweek/" + classid);
            $.ajax({
                url: "/updateclasstimeajax",
                data: {classid: classid, week: x.value},
                type: "POST",
                dataType: "json",
                success: function (data) {
                },
                error: function () {

                }
            });

        }


        function addNewClass() {
            $.ajax({
                url: "/createnewclassajax",
                data: {subjectid: {{subject.id}}},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var tbl = document.getElementById('rolltable'), i;
                    for (i = 0; i < tbl.rows.length; i++) {
                        var trow = tbl.rows[i];
                        if (i == 0) {
                            var y = document.createElement('td');
                            y.innerHTML = "Week <input type='number' id='classweek/" + data + "' value='3' onchange ='changeClassTime(" + data + ")' style = 'width: 35px' /><a href='deletetutorial%3Ftutorialid%3D" + data + "' class='delete' data-confirm='Are you sure you want to delete this item?'><img src='../static/img/removeSymbol.png' class='deleteIcon' /></a><a data-toggle='collapse' href='#demo" + data + "'>Show</a><div id='demo" + data + "' class='collapse in'> Date: <input type='datetime-local' id='datetime/" + data + "'  onchange='updatedatetime(" + data + ",this.value)'><br># of hours: <input type='number' id='numofhours/" + data + "' value='1' onchange='updatenumofhours(" + data + ",this.value)'> </div>"
                            trow.appendChild(y);
                        } else {
                            var studentid;
                            for (var j = 0; j < trow.cells.length; j++) {
                                if (trow.cells[j].getAttribute('id')) {
                                    studentid = trow.cells[j].getAttribute('id').split("/")[1];
                                    break;
                                }
                            }
                            ;
                            var x = document.createElement('td')
                            x.setAttribute('class', "notattended")
                            x.setAttribute('id', data + '/' + studentid)
                            x.setAttribute('onclick', "updateStudentClassAttendance(" + data + "," + studentid + ",'" + data + "/" + studentid + "')")
                            console.log(x.getAttribute('onclick'))
                            trow.appendChild(x)
                        }


                    }
                },
                error: function () {

                }
            });

        }
        var attendancedata = [];
        var attendancelabels = [];
        function getSubjectAttendanceData() {
            $.ajax({
                type: 'GET',
                url: '{{ url_for('get_subject_attendance_rate_ajax',subjectid = subject.id) }}',
                dataType: 'json',
                success: function (data) {
                    Object.keys(data).forEach(function (k) {
                        attendancelabels.push(k);
                    } );
                    attendancelabels.sort(function(a,b) {
                        a = parseInt(a.split(' ')[1])
                        b = parseInt(b.split(' ')[1])
                        return a-b
                    });
                    for(var k=0; k<attendancelabels.length; k++) {
                        attendancedata.push(data[attendancelabels[k]]["Attendance Rate"]);}
                    drawSubjectAttendanceChart();
                }
            });
        }


        function needsprojectorchange(subjectid,selectedvalue) {
            $.ajax({
                type: 'POST',
                data: {subjectid: subjectid, value: selectedvalue},
                url: '/needsprojectorchange',
                dataType: 'json'
            });
        }


        function drawSubjectAttendanceChart() {
            var mySubjectAttendanceChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [ {
                        data: attendancedata,
                        label: "Attendance Rate",
                        fill: false,
                        backgroundColor: ["#3e95cd"],
                        borderColor: ["#3e95cd"]
                    }],
                    labels: attendancelabels
                },
                options: {}
            })
        }

        getSubjectAttendanceData()


        var e = document.getElementById('showhidebutton');
        var attendancegraphcanvas = document.getElementById('popup');
        e.onclick = function () {
            if (attendancegraphcanvas.style.display == 'block') {
                e.innerText = "Show Graph";
                attendancegraphcanvas.style.display = 'none';
            } else {
                e.innerText = "Hide Graph";
                attendancegraphcanvas.style.display = 'block';
            }
        }



    </script>

{% endblock %}