{% extends "layout.html" %}
{% block content %}
    <h1>Rooms</h1>
    {{ msg }}
    <div class="row">
        <div class="col-md-12">
            <table class="rooms" id="rooms">
                <thead>
                <td>Name</td>

                </thead>
            </table>
        </div>
    </div>
    {% if current_user.is_admin == '1' %}
        <div class="row">
            <div class="col-md-12">

                <button type="button" class="button" data-toggle="modal" data-target="#addModal">Add Room</button>

            </div>
        </div>{% endif %}


    {% include 'mymodal.html' %}
    <div class="row">
        <div class="col-md-12">
            <h1>Room Availabilities</h1>
            <table class="table" id="roomavailabilities">
                <thead>
                <td>Room Name</td>
                {% for timeslot in timeslots %}
                    <td>{{ timeslot.day }} {{ timeslot.time }}</td>
                {% endfor %}
                </thead>
                {% for room in rooms %}
                    <tr>
                        <td>{{ room.name }}</td>
                        {% for timeslot in timeslots %}
                            {% if  timeslot in room.get_available_times() %}
                                <td class="attended"></td>
                            {% else %}
                                <td class="notattended"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>




    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script>

        $(document).ready(function () {
            $('#rooms').DataTable({
                "ajax": {
                    "url": '/viewroomsajax',
                    "type": 'GET'
                },
                "columns": [{
                    "data": "name", "render": function (data, type, row, meta) {
                        return "<a href='/viewroom%3Froomid%3D" + row.id + "'>" + row.name + "</a>";
                    }
                }
                ]
            });
        });
    </script>

{% endblock %}