{% extends "layout.html" %}
{% block content %}
    <form action="{{ url_for('add_class', subcode = subject["subcode"]) }}" method="POST">
        <h3>Class Information</h3>
        Date and Time<br>
        <input type="datetime-local" name="date"/></br>
        Repeat?<br>
        <input type="text" name="repeat"/><br>
        {% for student in students %}
            {{ student.firstname }} {{ student.lastname }}<br>
            <input type="checkbox" name='{{ student.studentcode }}'/><br>
        {% endfor %}
        <input type="submit" value="submit"/><br>

    </form>

{% endblock %}