{% extends "layout.html" %}
{% block content %}
    <form action="{{ url_for('add_tutor') }}" method="POST">
        <h3>Tutor Information</h3>
        First Name<br>
        <input type="text" name="firstnm"/></br>
        Last Name<br>
        <input type="text" name="lastnm"/></br>
        Email<br>
        <input type="text" name="email"/><br>

        Phone Number<br>
        <input type="text" name="phone"/><br>
        <input type="submit" value="submit"/><br>

    </form>

{% endblock %}