{% extends "layout.html" %}

{% block content %}
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
                <canvas id="PercentageSubjectsMapped" width="400" height="800"></canvas>
                <h4>Mapped Subjects</h4>
                <div class="text-muted"></div>
            </div>
            <div class="col-6 col-sm-6 placeholder">
                <canvas id="Attendance" width="800" height="800"></canvas>
                <h4>Student Attendance (%)</h4>
                <span class="text-muted"></span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
                <canvas id="tutorrollmarking" width="800" height="800"></canvas>
                <h4>Tutor Roll Marking (%)</h4>
                <span class="text-muted">Something else</span>
            </div>
        </section>
    </main>
    <script src="../static/js/Chart.bundle.js"></script>

    <script>
        var labels = [];
        var data2 = [];
        var dataline = [];
        var labelsline = [];
        var dataroll = [];
        var labelsroll = [];
        var ctx = document.getElementById("PercentageSubjectsMapped");
        var ctx2 = document.getElementById("Attendance");
        var ctx3 = document.getElementById("tutorrollmarking");
        function getPieChartData() {
            $.ajax({
                type: 'GET',
                url: '/numbereligiblesubjectsmappedajax',
                dataType: 'json',
                success: function (data) {
                    Object.keys(data).forEach(function (k) {
                        labels.push(k);
                        data2.push(data[k]);
                    });
                    drawPieChart();
                }
            });
        }

         function getAttendanceChartData() {
            $.ajax({
                type: 'GET',
                url: '/getattendanceajax',
                dataType: 'json',
                success: function (data) {
                    for (var k =0; k < Object.keys(data).length;k++) {
                        var key = "Week " + (k+1)
                        labelsline.push(key);
                        dataline.push(Math.round(data[key]['Attendance Rate']));
                    };
                    drawAttendanceChart();
                }
            });
        }

         function getRollMarkingData() {
            $.ajax({
                type: 'GET',
                url: '/getrollmarkingajax',
                dataType: 'json',
                success: function (data) {
                    for (var k =0; k < Object.keys(data).length;k++) {
                        var key = "Week " + (k+1)
                        labelsroll.push(key);
                        dataroll.push(Math.round(data[key]['Attendance Rate']));
                    };
                    drawRollMarkingChart();
                }
            });
        }

        function drawPieChart() {
            var myPieChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    datasets: [{backgroundColor: ["#3e95cd", "#fffb51"], data: data2}],
                    labels: labels
                },
                options: {}
            })
        }


        function drawAttendanceChart() {

            var myAttendanceChart = new Chart(ctx2, {
                type: 'line',
                data: { datasets: [{data: dataline, label: "Attendance Rate", fill: false, backgroundColor:["#3e95cd"],  borderColor: ["#3e95cd"]}],
                labels: labelsline},
                options: {}
            })
        }

        function drawRollMarkingChart() {

            var myRollMarkingChart = new Chart(ctx3, {
                type: 'line',
                data: { datasets: [{data: dataroll, label: "Roll Marking (%)", fill: false, backgroundColor:["#3e95cd"],  borderColor: ["#3e95cd"]}],
                labels: labelsroll},
                options: {}
            })
        }



        getPieChartData();
    getAttendanceChartData();
    getRollMarkingData();

    </script>
{% endblock %}


