{% extends "layout.html" %}
{% block content %}
    <h1>Student Information</h1>
    {{ msg }}
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <td>Student ID</td>
                <td>Name</td>
                </thead>
                <tr>
                    <td>{{ rows.studentcode }}</td>
                    <td>{{ rows["name"] }}</td>
                </tr>
            </table>
            <h1>Subjects this student takes:</h1>
            <table class="table">
                <thead>
                <td>Subject Code</td>
                <td>Subject Name</td>
                <td>Study Period</td>
                <td></td>
                </thead>

                {% for subject in subjects %}
                    <tr>

                        <td>{{ subject["subcode"] }}</td>
                        <td>
                            <a href="{{ url_for('view_subject', subcode = subject.subcode) }}">{{ subject["subname"] }}</a>
                        </td>
                        <td> {{ subject["studyperiod"] }}</td>
                        <td>
                            {% if current_user.is_admin == '1' %}<a href="{{ url_for('remove_subject_from_student', subcode = subject.subcode, studentcode = rows['studentcode']) }}"><img
                                    src='../static/img/removeSymbol.png' class='deleteIcon'/></a>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% if current_user.is_admin == '1' %}
            <form action="{{ url_for('add_subject_to_student', studentcode = rows["studentcode"]) }}" method="POST">
                <select name="subject">
                    {% for subject in eligiblesubjects %}

                        <option value={{ subject["subcode"] }}>{{ subject["subname"] }}</option>

                    {% endfor %}

                </select>
                <input type="submit" class="button" value="Add Subject to Student"/>
            </form>
        {% endif %}
        </div>
        {% if rows.timetabledclasses|length !=0 %}
            <div class="col-md-6">
                <canvas id="StudentAttendanceRate" height="250"></canvas>
            </div>
        {% endif %}

    </div>






    {{ msg }}
    {% if rows.timetabledclasses|length !=0 %}
    <h1>Student Timetable</h1>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <td>Subject Code</td>
                <td>Subject Name</td>
                <td>Timeslot</td>
                <td></td>
                </thead>

                {% for timetabledclass in rows.timetabledclasses %}
                    <tr>

                        <td>{{ timetabledclass.subject.subcode }}</td>
                        <td>
                            <a href="{{ url_for('view_subject', subcode = timetabledclass.subject.subcode) }}">{{ timetabledclass.subject.subname }}</a>
                        </td>
                        <td> {{ timetabledclass.timeslot.day + " " + timetabledclass.timeslot.time }}</td>
                        <td>
                           {% if current_user.is_admin == '1' %} <a href="{{ url_for('remove_timetabled_class', timetabledclassid = timetabledclass.id) }}"><img
                                    src='../static/img/removeSymbol.png' class='deleteIcon'/></a>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}

    <script src="../static/js/Chart.bundle.js"></script>
    <script>
        var ctx = document.getElementById("StudentAttendanceRate");
        var attendancedata = [];
        var cumattendancedata = [];
        var attendancelabels = [];
        function getStudentAttendanceData() {
            $.ajax({
                type: 'GET',
                url: '{{ url_for('get_student_attendance_rate_ajax',studentid = rows.id) }}',
                dataType: 'json',
                success: function (data) {
                    Object.keys(data).forEach(function (k) {
                        attendancelabels.push(k);
                    } );
                    attendancelabels.sort(function(a,b) {
                        a = parseInt(a.split(' ')[1])
                        b = parseInt(b.split(' ')[1])
                        return a-b
                    });
                    for(var k=0; k<attendancelabels.length; k++) {
                        attendancedata.push(data[attendancelabels[k]]["Attendance Rate"]);
                        cumattendancedata.push(data[attendancelabels[k]]["Cum. Attendance Rate"]);}
                    drawStudentAttendanceChart();
                }
            });
        }

        function drawStudentAttendanceChart() {
            console.log(attendancedata)
            console.log(cumattendancedata)
            console.log(attendancelabels)
            var myStudentAttendanceChart = new Chart(ctx, {
                type: 'line',
                data: {
                    datasets: [ {
                        data: cumattendancedata,
                        label: "Attendance Rate",
                        fill: false,
                        backgroundColor: ["#3e95cd"],
                        borderColor: ["#3e95cd"]
                    }],
                    labels: attendancelabels
                },
                options: {}
            })
        }

        getStudentAttendanceData()


    </script>
{% endblock %}