{%  extends "layout.html" %}
{% block content %}
<h1>Subjects</h1>
{{ msg }}
    <div class="row">
        <div class="col-md-6">
          <table class="table", id="subjects">
         <thead>
            <td>Subject Code</td>
            <td>Subject Name</td>
            <td>Study Period</td>
         </thead>

        <tfoot>
        <tr>
            <td>Subject Code</td>
            <td>Subject Name</td>
            <td>Study Period</td>
        </tr>


        </tfoot>
          </table></div></div>

    <a href="addsubject"><button type="button" class="btn btn-lg btn-default">Add Subject</button></a>
<script>
    $(document).ready(function() {
    $('#subjects').DataTable( {
        "ajax": '/viewsubjectsajax',
        "columns" : [
            {data: "subcode"},
            {data: "subname"},
            {data: "studyperiod"}
        ]
    } );
} );
    </script>



{% endblock %}