{%  extends "layout.html" %}
{% block content %}
<h1>Subjects</h1>
{{ msg }}
    <div class="row">
        <div class="col-md-6">
          <table class="table">
         <thead>
            <td>Subject Code</td>
            <td>Subject Name</td>
            <td>Study Period</td>
         </thead>

         {% for row in rows %}
            <tr>
                <td><a href="{{ url_for('view_subject', subcode = row.subcode) }}">{{row["subcode"]}}</a></td>
                <td><a href="{{ url_for('view_subject', subcode = row.subcode) }}">{{row["subname"]}}</a></td>
               <td> {{ row["studyperiod"]}}</td>
            </tr>
         {% endfor %}
          </table></div></div>

    <a href="addsubject"><button type="button" class="btn btn-lg btn-default">Add Subject</button></a>

{% endblock %}