{% extends "layout.html" %}
{% block content2 %}

    <div class="row">
        <div class="col-md-12">
            <h1>{{ rows.subname }}</h1>
            {{ msg }}
            <table class="table">
                <thead>
                <td>Subject Code</td>
                <td>Subject Name</td>
                <td>Study Period</td>
                <td>Tutor</td>
                <td>Repeats</td>
                </thead>
                <tr>
                    <td>{{ rows["subcode"] }}</td>
                    <td>{{ rows["subname"] }}</td>
                    <td> {{ rows["studyperiod"] }}</td>
                    <td><a href="{{ url_for('view_tutor', tutorid = tutor["id"]) }}">{{ tutor["name"] }}</a></td>
                    <td><select id="repeats" onchange="changedvalue()">
                        {% for i in range(1,5) %}
                            {% if i == rows["repeats"] %}
                                <option selected>{{ i }}</option>
                            {% else %}
                                <option>{{ i }}</option>
                            {% endif %}
                        {% endfor %}
                    </select></td>

                </tr>
            </table>
            <a href="{{ url_for('remove_subject', subcode = rows["subcode"]) }}">Delete Subject</a>
            {% if tutor != None %}
                        <a href="{{ url_for('remove_tutor_from_subject', subcode = rows["subcode"], tutorid = tutor["id"]) }}">
                            <button type="button" class="button-delete">Remove Tutor From Subject</button>
                        </a>{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if tutor == None %}
                <h3>Add Tutor to Subject</h3>
                <form action="{{ url_for('add_tutor_to_subject', subcode = rows["subcode"]) }}" method="POST">
                    <select name="tutor">
                        {% for temptutor in tutors %}

                            <option value={{ temptutor["id"] }}>{{ temptutor["name"] }}</option>

                        {% endfor %}

                    </select>

                    <input type="submit" value="Add Tutor to Subject"/>
                </form>
                {{ msg2 }}
            {% endif %}
        </div>
    </div>








    <div class="row">
        <div class="col-md-12" style="overflow: scroll">
            <h1>Students Enrolled in this subject</h1>

            <table class="table" id="rolltable">
                <thead>
                <td>Student Number</td>
                <td>Name</td>
                <td>Scheduled Class</td>
                <td/>
                {% for class in classes %}
                    <td id="{{ class.id }}/date" class="classdate"><input type="datetime-local"
                                                                          value="{{ class["classtime"].strftime('%Y-%m-%d')+"T"+class["classtime"].strftime('%H:%M:%S') }}"
                                                                          id="classdatetime/{{ class.id }}"
                                                                          onchange="changeClassTime({{ class.id }})"/>
                    </td>
                {% endfor %}
                </thead>

                {% for student in students %}
                    <tr>

                        <td>
                            <a href="{{ url_for('view_student', studentcode = student.studentcode) }}">{{ student["studentcode"] }}</a>
                        </td>
                        <td>
                            <a href="{{ url_for('view_student', studentcode = student.studentcode) }}">{{ student["firstname"] }} {{ student["lastname"] }}</a>
                        </td>
                        <td>{% for timeclass in rows.timetabledclasses %}
                            {% if student in timeclass.students %}
{{ timeclass.timeslot.day }} {{timeclass.timeslot.time }}
                            {% endif %}
                            {% endfor %}
                            </td>
                        <td>
                            <a href="{{ url_for('remove_student_from_subject', studentcode = student.studentcode, subcode = rows["subcode"]) }}">Remove</a></a>
                        </td>
                        {% for class in classes %}
                            {% if student in attendees[class.id] %}
                                <td class="attended" id="{{ class.id }}/{{ student.id }}"
                                    onclick="updateStudentClassAttendance({{ class.id }},{{ student.id }},'{{ class.id }}/{{ student.id }}')"></td>
                            {% else %}
                                <td class="notattended" id="{{ class.id }}/{{ student.id }}"
                                    onclick="updateStudentClassAttendance({{ class.id }},{{ student.id }},'{{ class.id }}/{{ student.id }}')"></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

        </div>
        <button type="button" class="btn btn-lg btn-default" onclick="addNewClass()">Add a Class</button>
    </div>


    {% if tutor != None %}

        <div class="row">
            <div class="col-md-12">


                {% if subject.timetabledclasses == [] %}
                    <h1>Timetable Explorer</h1>
                    <h2>Student Availability</h2>
                <table class="table">
                    <thead>
                    {% for timeslot in timeslots %}
                        <td>{{ timeslot.day }} {{ timeslot.time }}</td>
                    {% endfor %}
                    </thead>
                    <tr>
                        {% for timeslot in timeslots %}
                            {% if  timeslot in times %}
                                <td class="attended"></td>
                            {% else %}
                                <td class="notattended"></td>
                            {% endif %}
                        {% endfor %}

                    </tr>


                </table>
            </div>
        </div>
            <h2>Tutor Availability</h2>
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                        {% for row in timeslots %}
                            <td>{{ row.day }} {{ row.time }}</td>
                        {% endfor %}
                        </thead>
                        <tr>
                            {% for timeslot in timeslots %}
                                {% if timeslot in tutor.get_teaching_times() %}
                                    <td class="occupied"></td>
                                {% elif  timeslot in tutor.availabletimes %}
                                    <td class="attended"></td>
                                {% else %}
                                    <td class="notattended"></td>
                                {% endif %}
                            {% endfor %}
                        </tr>


                    </table>
                    <form action="{{ url_for('add_timetabledclass_to_subject', subcode = subject.subcode) }}"
                          method="POST">
                        <select name="timeslot">
                            {% for timeslot in timeslots %}

                                <option value={{ timeslot.id }}>{{ timeslot.day }} {{ timeslot.time }}</option>

                            {% endfor %}

                        </select>

                        <input type="submit" value="Timetable Class"/>
                    </form>
                </div>
            </div>
        {% else %}
        <h1>Timetabled Classes</h1>
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <td>Day</td>
                    <td>Time</td>
                    <td/>
                    </thead>
                    {% for row in timetabledclasses %}
                        <tr>
                            <td>
                                {{ row.timeslot.day }}
                            </td>
                            <td>{{ row.timeslot.time }}</td>
                            <td><a href="{{ url_for('remove_timetabled_class_subject',timetabledclassid = row.id) }}">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        <div class="col-md-6">
<table class="table">
<thead>
<td>Student</td>
{% for timeclass in timetabledclasses %}
<td>{{ timeclass.timeslot.day }} {{ timeclass.timeslot.time }}</td>
{% endfor %}
</thead>
{% for student in rows.students %}
<tr>
<td>{{ student.name }}</td>
{% for timeclass in rows.timetabledclasses %}

{% if  student in timeclass.students %}

                            <td class="attended {{ student.id }}" id="slot/{{ timeclass.id }}/{{ student.id }}"
                                onclick="updateStudentScheduledClass({{ timeclass.id }},{{ student.id }},'slot/{{ timeclass.id }}/{{ student.id }}')"></td>
                    {% else %}
                            <td class="notattended {{ student.id }}" id="slot/{{ timeclass.id }}/{{ student.id }}"
                                onclick="updateStudentScheduledClass({{ timeclass.id }},{{ student.id }},'slot/{{ timeclass.id }}/{{ student.id }}')"></td>
                    {% endif %}
{% endfor %}
</tr>
{% endfor %}
</table>
        </div>
        </div>
        {% endif %}
    {% endif %}

    <script>

        function changedvalue() {
            var x = document.getElementById("repeats");
            var y = x.options[x.selectedIndex].text;
            $.ajax({
                url: "/updatesubjectrepeats",
                data: {subject: {{ rows.id }}, repeats: y},
                type: "POST",
                dataType: "json",
                success: function (data) {

                }
                ,
                error: function () {

                }
            });

        }


    function updateStudentScheduledClass(timeclassid, studentid, id) {

        $.ajax({
                url: "/updatestudentscheduledclassajax",
                data: {timeclassid: timeclassid, studentid: studentid},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var x = document.getElementById(id);
                    var y = document.getElementsByClassName(studentid);
                    if (x.className == "attended "+ studentid) {
                    } else if (x.className == "notattended " + studentid) {
                        for(i=0; i < y.length; i++) {
                        y[i].className = "notattended " + studentid;
                        }
                        x.className = "attended " + studentid;
                    }

                },
                error: function () {

                }
            });


        }

        function updateStudentClassAttendance(classid, studentid, id) {

            $.ajax({
                url: "/updatestudentclassattendanceajax",
                data: {classid: classid, studentid: studentid},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var x = document.getElementById(id);
                    if (x.className == "attended") {
                        x.className = "notattended";
                    } else if (x.className == "notattended") {
                        x.className = "attended";
                    }

                },
                error: function () {

                }
            });

        }

        function changeClassTime(classid) {
            var x = document.getElementById("classdatetime/" + classid);
            $.ajax({
                url: "/updateclasstimeajax",
                data: {classid: classid, datetime: x.value},
                type: "POST",
                dataType: "json",
                success: function (data) {
                },
                error: function () {

                }
            });

        }


        function addNewClass() {
            $.ajax({
                url: "/createnewclassajax",
                data: {subjectid: {{rows.id}}},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var tbl = document.getElementById('rolltable'), i;
                    for (i = 0; i < tbl.rows.length; i++) {
                        var trow = tbl.rows[i];
                        if (i == 0) {
                            var y = document.createElement('td');
                            var z = document.createElement('input');
                            z.setAttribute('value',)
                            z.setAttribute('type', 'datetime-local');
                            z.setAttribute('id', "classdatetime/" + data);
                            z.setAttribute('onchange', "changeClassTime(" + data + ")");
                            trow.appendChild(y);
                            y.appendChild(z);
                        } else {
                            var studentid;
                            for (var j = 0; j < trow.cells.length; j++) {
                                if (trow.cells[j].getAttribute('id')) {
                                    studentid = trow.cells[j].getAttribute('id').split("/")[1];
                                    break;
                                }
                            }
                            ;
                            var x = document.createElement('td')
                            x.setAttribute('class', "notattended")
                            x.setAttribute('id', data + '/' + studentid)
                            x.setAttribute('onclick', "updateStudentClassAttendance(" + data + "," + studentid + ",'" + data + "/" + studentid + "')")
                            console.log(x.getAttribute('onclick'))
                            trow.appendChild(x)
                        }


                    }
                },
                error: function () {

                }
            });

        }
    </script>

{% endblock %}