{%  extends "layout.html" %}
{% block content %}
<h1>Subject Information</h1>
{{ msg }}
<div class="row">
        <div class="col-md-6">
          <table class="table">
         <thead>
            <td>Subject Code</td>
            <td>Subject Name</td>
            <td>Study Period</td>
         </thead>
            <tr>
               <td>{{rows["subcode"]}}</td>
               <td>{{rows["subname"]}}</td>
               <td> {{ rows["studyperiod"]}}</td>
            </tr>
          </table></div></div>
    <a href="{{ url_for('remove_subject', subcode = rows["subcode"]) }}">Delete Subject</a>

    <h1>Tutor</h1>
    <div class="row">
        <div class="col-md-6">
          <table class="table">
         <thead>
            <td>Tutor Name</td>
            <td>Email</td>
            <td>Phone</td>
         <td />
         </thead>
            <tr>
                <td><a href="{{ url_for('view_tutor', tutorid = tutor["tutorid"]) }}">{{ tutor["firstname"] }} {{ tutor["lastname"] }}</a></td>
               <td>{{ tutor["email"] }}</td>
               <td>{{ tutor["phone"] }}</td>
                <td>{% if tutor != None %}<a href="{{ url_for('remove_tutor_from_subject', subcode = rows["subcode"], tutorid = tutor["tutorid"]) }}"><button type="button" class="btn btn-default">Remove</button></a>{% endif %}</td>
            </tr>
          </table></div></div>
    {% if tutor == None %}
       <h3>Add Tutor to Subject</h3>
    <form action = "{{ url_for('add_tutor_to_subject', subcode = rows["subcode"]) }}" method = "POST">
    <select name = "tutor">
        {%  for temptutor in tutors %}

            <option value={{ temptutor["tutorid"] }}>{{ temptutor["firstname"] }} {{ temptutor["lastname"] }}</option>

        {% endfor %}

    </select>

    <input type="submit" value = "Add Tutor to Subject" />
    </form>
    {% endif %}
    {{ msg2 }}

    <h1>Students Enrolled in this subject</h1>
    <div class="row">
        <div class="col-md-6">
          <table class="table">
         <thead>
            <td>Student Number</td>
            <td>Name</td>
         </thead>

         {% for student in students %}
            <tr>

                <td><a href="{{ url_for('view_student', studentcode = student.studentcode) }}">{{student["studentcode"]}}</a></td>
                <td><a href="{{ url_for('view_student', studentcode = student.studentcode) }}">{{student["firstname"]}} {{ student["lastname"]}}</a></td>

            </tr>
         {% endfor %}
          </table></div></div>

    {% if tutor != None %}

    <h1>Mark Rolls for This Subject</h1>
        <div class="row">
        <div class="col-md-6">
          <table class="table">
         <thead>

            <td>Date</td>
            <td>Time</td>
            <td>Repeat</td>
         <td></td>
         </thead>

         {% for class in classes %}
            <tr>


               <td>{{ class["datetime"] }}</td>
                <td> </td>
                <td>{{ class["repeat"] }}</td>
                <td><a href="{{ url_for('view_class', classid = class["classid"]) }}"><button type="button" class="btn btn-lg btn-default">View Class</button></a></td>
            </tr>
         {% endfor %}
          </table></div></div>

    {% endif %}
    <a href="{{ url_for('add_class',subcode = rows["subcode"]) }}"><button type="button" class="btn btn-lg btn-default">Add a Class</button></a>



{% endblock %}