{% extends "layout.html" %}
{% block content2 %}

    <div class="row">
        <div class="col-md-6">
            <h1>Tutor Information</h1>
            {{ msg }}
            <table class="table">
                <thead>
                <td>Name</td>
                </thead>
                <tr>
                    <td>{{ tutor["name"] }}</td>
                </tr>
            </table>
            <a href="{{ url_for('remove_tutor', tutorid = tutor["id"]) }}">
                <button type="button" class="btn btn-lg btn-default">Delete Tutor</button>
            </a>
        </div>
        <div class="col-md-6">
            <h1>Subjects this tutor teaches:</h1>
            {{ msg2 }}
            <table class="table">
                <thead>
                <td>Subject Code</td>
                <td>Subject Name</td>
                <td>Study Period</td>
                <td></td>
                </thead>

                {% for subject in subjects %}
                    <tr>

                        <td>
                            <a href="{{ url_for('view_subject', subcode = subject.subcode) }}">{{ subject["subcode"] }}</a>
                        </td>
                        <td>{{ subject["subname"] }}</td>
                        <td> {{ subject["studyperiod"] }}</td>
                        <td>
                            <a href="{{ url_for('remove_subject_from_tutor', subcode = subject.subcode, tutorid = tutor['id']) }}">
                                <button type="button" class="btn btn-default">Remove</button>
                            </a></td>
                    </tr>
                {% endfor %}
            </table>
            <h3>Add Subject to Tutor</h3>
            <form action="{{ url_for('add_subject_to_tutor', tutorid = tutor["id"]) }}" method="POST">
                <select name="subject">
                    {% for subject in eligiblesubjects %}

                        <option value={{ subject["subcode"] }}>{{ subject["subname"] }}</option>

                    {% endfor %}

                </select>

                <input type="submit" value="Add Subject to Tutor"/>
            </form>
            {{ msg2 }}
        </div>
    </div>









    <div class="row">
        <h1>Tutor Availability</h1>
        {{ msg3 }}
        <div class="col-md-8">
            <table class="table">
                <thead>
                {% for row in timeslots %}
                    <td>{{ row.day }} {{ row.time }}</td>
                {% endfor %}
                </thead>
                <tr>
                    {% for timeslot in timeslots %}
                        {% if timeslot in tutor.get_teaching_times() %}
                            <td class="occupied"></td>
                        {% elif  timeslot in availability %}
                            <td class="attended" id="slot/{{ timeslot.id }}/{{ tutor.id }}"
                                onclick="updateAvailability({{ timeslot.id }},{{ tutor.id }},'slot/{{ timeslot.id }}/{{ tutor.id }}')"></td>
                    {% else %}
                            <td class="notattended" id="slot/{{ timeslot.id }}/{{ tutor.id }}"
                                onclick="updateAvailability({{ timeslot.id }},{{ tutor.id }},'slot/{{ timeslot.id }}/{{ tutor.id }}')"></td>
                    {% endif %}
                    {% endfor %}
                </tr>

            </table>
        </div>
    </div>

    <script>
        function updateAvailability(timeslotid, tutorid, id) {
            $.ajax({
                url: "/updatetutoravailabilityajax",
                data: {timeslotid: timeslotid, tutorid: tutorid},
                type: "POST",
                dataType: "json",
                success: function (data) {
                    var x = document.getElementById(id);
                    if (x.className == "attended") {
                        x.className = "notattended";
                    } else if (x.className == "notattended") {
                        x.className = "attended";
                    }
                },
                error: function () {

                }
            });
        }</script>


{% endblock %}
