{% extends "layout.html" %}
{% block content %}
    <h1>Tutor Information</h1>
    {{ msg }}
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <td>Name</td>
                </thead>
                <tr>
                    <td>{{ rows["name"] }}</td>
                </tr>
            </table>
        </div>
    </div>

    <a href="{{ url_for('remove_tutor', tutorid = rows["id"]) }}">
        <button type="button" class="btn btn-lg btn-default">Delete Tutor</button>
    </a>


    <h1>Subjects this tutor teaches:</h1>
    {{ msg2 }}
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <td>Subject Code</td>
                <td>Subject Name</td>
                <td>Study Period</td>
                <td></td>
                </thead>

                {% for subject in subjects %}
                    <tr>

                        <td>
                            <a href="{{ url_for('view_subject', subcode = subject.subcode) }}">{{ subject["subcode"] }}</a>
                        </td>
                        <td>{{ subject["subname"] }}</td>
                        <td> {{ subject["studyperiod"] }}</td>
                        <td>
                            <a href="{{ url_for('remove_subject_from_tutor', subcode = subject.subcode, tutorid = rows['id']) }}">
                                <button type="button" class="btn btn-default">Remove</button>
                            </a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <h3>Add Subject to Tutor</h3>
    <form action="{{ url_for('add_subject_to_tutor', tutorid = rows["id"]) }}" method="POST">
        <select name="subject">
            {% for subject in eligiblesubjects %}

                <option value={{ subject["subcode"] }}>{{ subject["subname"] }}</option>

            {% endfor %}

        </select>

        <input type="submit" value="Add Subject to Tutor"/>
    </form>
    {{ msg2 }}


    <h1>Tutor Availability</h1>
    {{ msg3 }}
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <td>Monday 7:30pm</td>
                <td>Monday 8:30pm</td>
                <td>Monday 9:30pm</td>
                <td>Tuesday 7:30pm</td>
                <td>Tuesday 8:30pm</td>
                <td>Tuesday 9:30pm</td>
                <td>Wednesday 7:30pm</td>
                <td>Wednesday 8:30pm</td>
                <td>Wednesday 9:30pm</td>
                </thead>
                <tr>
                    {% if  availability["time1"] == 1 %}
                        <td class="attended"></td>
                    {% else %}
                        <td class="notattended"></td>
                    {% endif %}
                    {% if  availability["time2"] == 1 %}
                        <td class="attended"></td>
                    {% else %}
                        <td class="notattended"></td>
                    {% endif %}
                    {% if  availability["time3"] == 1 %}
                        <td class="attended"></td>
                    {% else %}
                        <td class="notattended"></td>
                    {% endif %}
                    {% if  availability["time4"] == 1 %}
                        <td class="attended"></td>
                    {% else %}
                        <td class="notattended"></td>
                    {% endif %}
                    {% if  availability["time5"] == 1 %}
                        <td class="attended"></td>
                    {% else %}
                        <td class="notattended"></td>
                    {% endif %}
                    {% if  availability["time6"] == 1 %}
                        <td class="attended"></td>
                    {% else %}
                        <td class="notattended"></td>
                    {% endif %}
                    {% if  availability["time7"] == 1 %}
                        <td class="attended"></td>
                    {% else %}
                        <td class="notattended"></td>
                    {% endif %}
                    {% if  availability["time8"] == 1 %}
                        <td class="attended"></td>
                    {% else %}
                        <td class="notattended"></td>
                    {% endif %}
                    {% if  availability["time9"] == 1 %}
                        <td class="attended"></td>
                    {% else %}
                        <td class="notattended"></td>
                    {% endif %}

                </tr>


            </table>
        </div>
    </div>
    <h3>Update Tutor Availability</h3>
    <form action="{{ url_for('update_tutor_availability', tutorid = rows['id']) }}" , method="POST">

        <input type="checkbox" name="time1">Monday 7:30 <br>
        <input type="checkbox" name="time2">Monday 8:30 <br>
        <input type="checkbox" name="time3">Monday 9:30 <br>
        <input type="checkbox" name="time4">Tuesday 7:30 <br>
        <input type="checkbox" name="time5">Tuesday 8:30 <br>
        <input type="checkbox" name="time6">Tuesday 9:30 <br>
        <input type="checkbox" name="time7">Wednesday 7:30 <br>
        <input type="checkbox" name="time8">Wednesday 8:30 <br>
        <input type="checkbox" name="time9">Wednesday 9:30 <br>
        <input type="submit" value="Submit Availability">
    </form>

{% endblock %}