{% extends "layout.html" %}
{% block content %}
    <h1>Upload Excel Tutor File</h1>
    {{ msg }}
    <form action="uploadtutordata" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br/><br/>
        <input type="submit" value="Upload">
    </form>


    <h1>Upload Availabilities</h1>
    {{ msg2 }}
    <form action="uploadtutoravailabilities" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br/><br/>
        <input type="submit" value="Upload">
    </form>

{% endblock %}