{%  extends "layout.html" %}
{% block content %}
<h1>Tutors</h1>
{{ msg }}
<table border = 1>
         <thead>
            <td>Name</td>
            <td>Email</td>
            <td>Phone</td>
         </thead>

         {% for row in rows %}
            <tr>
                <td><a href="{{ url_for('view_tutor', name = row["name"]) }}">{{row["name"]}}</a></td>
               <td>{{row["email"]}}</td>
               <td> {{ row["phone"]}}</td>
            </tr>
         {% endfor %}
      </table>


<a href="addtutor">Add Tutor</a>

{% endblock %}