{%  extends "layout.html" %}
{% block content %}
<h1>Students</h1>
{{ msg }}
    <div class="row">
        <div class="col-md-6">
          <table class="table" id="students">
         <thead>
            <td>Student ID</td>
            <td>Name</td>
         </thead>


          </table></div></div>


<a href="addtutor"><button type="button" class="btn btn-lg btn-default">Add Student</button></a>



      <script>

    $(document).ready(function() {
    $('#students').DataTable( {
        "ajax": {"url" : '/viewstudentsajax',
                "type" : 'GET'},
        "columns" : [{"data" : "studentcode"},{"data" : "firstname","render": function ( data, type, row, meta ) {
                            return "<a href='/viewstudent%3Fstudentcode%3D"+row.studentcode+"'>" + row.firstname + " " + row.lastname + "</a>";}}]
    } );
} );
    </script>
{% endblock %}