{% extends "layout.html" %}
{% block content %}
    <h1>Tutors</h1>
    {{ msg }}
    <div class="row">
        <div class="col-md-12">
            <table class="table" id="tutors">
                <thead>
                <td>Name</td>
                </thead>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
    <a href="addtutor">
        <button type="button" class="button">Add Tutor</button>
    </a>
            <form action="{{ url_for('add_tutor') }}" method="POST">
                <h3>Add New Tutor</h3>
                Name<br>
                <input type="text" name="name"/></br>
                <input type="submit" value="submit"/><br>

            </form>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script>

        $(document).ready(function () {
            $('#tutors').DataTable({
                "ajax": {
                    "url": '/viewtutorsajax',
                    "type": 'GET'
                },
                "columns": [{
                    "data": "name", "render": function (data, type, row, meta) {
                        return "<a href='/viewtutor%3Ftutorid%3D" + row.id + "'>" + row.name + "</a>";
                    }
                }]
            });
        });
    </script>

{% endblock %}