{%  extends "layout.html" %}
{% block content %}
<h1>Tutors</h1>
{{ msg }}
    <div class="row">
        <div class="col-md-6">
          <table class="table" id="tutors">
         <thead>
            <td>Name</td>
            <td>Email</td>
            <td>Phone</td>
         </thead>
          </table></div></div>


<a href="addtutor"><button type="button" class="btn btn-lg btn-default">Add Tutor</button></a>

     <script>

    $(document).ready(function() {
    $('#tutors').DataTable( {
        "ajax": {"url" : '/viewtutorsajax',
                "type" : 'GET'},
        "columns" : [{"data" : "firstname","render": function ( data, type, row, meta ) {
                            return "<a href='/viewtutor%3Ftutorid%3D"+row.tutorid+"'>" + row.firstname + " " + row.lastname + "</a>";}}, {"data" : "email"}, {"data" : "phone"}]
    } );
} );
    </script>

{% endblock %}